html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}


html, body, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.full-width-page {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
